body{
    font-family: 'LatoWeb';
    font-style:normal;
}

#contact{
    border: 1px solid black;
    border-radius: 5px;
    text-align: center;
    width: 30%;
    margin: 0 auto;
    padding-bottom:20px;
    background: White;
}
h1{
    text-align: center;
}
label {
    display:block;
    text-align: center;
}

button {
  background-color: Black;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius:5px;
}

#button {
  background-color: Black;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius:5px;
}